#content-inside
  .row
    .col-md-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Lotes por Producto

  .row
    .col-md-12.well
      .input-group
        .col-md-14
          .col-md-10
            .row{ :style => "margin-top:5%;"}
              %section.col.col-md-12
                %select.form-control#product-select{:name =>"product_id", :required => false}
                  %option{:value => "", :rel => ""}
                    Seleccione
                  - @products.each do |x|
                    %option{:value => "#{x.id}"}
                      = x.name.to_s
          %br
          .col-md-2
            %button#show-table.btn.btn-primary.btn-default{:type => 'button'}
              %i.fa.fa-search
              Buscar
  %br
  .row
    #widget-grid
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        #table-information-result
  %button.btn.btn-sm.btn-primary.btn-prev#backlist-entity{type: "button"}
    %i.fa.fa-arrow-left
    Retornar al listado

:javascript
  $(document).ready(function (){
    $('select').select2({width:'280px'});
  });

  $('#show-table').click(function(){
    var product = $('#product-select').val();

    if(product != 0) {
      var parameters = { product_id: product, authenticity_token: "#{form_authenticity_token}" };
      load_items_delivery_order_ajax("#{lote_method_products_lots_path}", 'table-information-result', parameters);
    } else {
      alert('Por favor, especificar todos los datos necesarios.')
    }
  });


  $('#backlist-entity').click(function(){
    load_url_ajax("#{products_lots_path}", 'content', null, null, 'GET');
  });